.vscode/sftp.json
.vscode/*
sftp.json
*.code-workspace
*.zip
*.rar
*.doc
*.docx
*.py
*.sql
desktop.ini
Mod_Admin_Plus/GenerarDatosPy/*
Mod_Admin_Plus/GenerarDatosPy/*.sql
Mod_Admin_Plus/GenerarDatosPy/*.py
Mod_Conta/GenerarDatosPy/*
Mod_Conta/GenerarDatosPy/*.sql
Mod_Conta/GenerarDatosPy/*.py
Mod_Conta/GenerarDatosPy/*.png
